doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title rspt - L-System
    meta(name='description', content='L-System')
    meta(name='author', content='rspt')
    link(rel='stylesheet', href='css/styles.css?v=1.0')
    script(type="text/javascript" src="vendors/d3.min.js")
    script(type="text/javascript" src="vendors/dat.gui.min.js")
  body
    block content
    script(type="text/javascript" src='js/app.js')
