doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Lindenmayer
    meta(name='description', content='Lindenmayer')
    meta(name='author', content='rspt')
    script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.0.7/rx.all.min.js" charset="utf-8")
    link(rel="stylesheet", href="https://s3-us-west-1.amazonaws.com/tachyons-css/tachyons.min.css")
    link(rel='stylesheet', href='css/styles.css?v=1.0')
  body
    block content
    script(src='js/app.js')
