extends ./layout/base.jade

block content
  h1 Starter
  p This starter project uses #[a(href="http://jade-lang.com") Jade], #[a(href="http://sass-lang.com") Sass] and #[a(href="http://matejlatin.github.io/Gutenberg/") Gutenberg], #[a(href="https://babeljs.io") Babel] for ES, #[a(href="https://www.browsersync.io") Browsersync] for the live server and npm as a run scripts. You can build static website with this.
