extends ./layout/base.jade

block content
  h1 L-System
  div
    label Generation
      input(id="generation" placeholder="Generation" type="number")
    label Axiom
      input(id="axiom" placeholder="Axiom" type="text")
    label Rules
      textarea(id="rules")
    label Angle
      input(id="angle" placeholder="Angle" type="number")
    label Step length 
      input(id="step" placeholder="Step" type="number")
  #draw
